<div class="modal fade">
    <div class="modal-dialog {{size}}">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="font-weight: bold; padding-left: 10px;" class="modal-title">{{ header }}</h5>
                <button type="button" class="close dialogFEclose" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
           		</button>
            </div>
            <div ng-transclude></div>
        </div>
    </div>
</div>